:root {
  --primary: darkviolet;
  --light: #ccc;
}
html {
  font-size: 20px;
  color: var(--primary);
}

p {
  display: inline;
  color: var(--primary);
}

.btn {
  background-color: var(--primary);
  color: #fff;
  margin: 0.25rem;
  padding: 0 0.5rem;
  display: inline;
}

.btn:hover {
  color: #fff;
  background-color: purple;
}

.header-col {
  display: flex;
  margin: 0.5rem;
}

#pageWrapper {
  min-height: 100vh;
}

#qa-section {
  margin: auto;
  display: none;
}

#qa-welcome,
#qa-game-over {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  text-align: center;
  color: black;
}

#qa-game-over {
  display: none;
}

#qa-welcome p {
  color: black;
}

#answer-choices {
  margin: 0 auto;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

#feedback {
  margin: 0 auto;
  height: auto;
  display: flex;
  flex-direction: column;
}

#feedback p {
  border-top: 1px solid #ccc;
  width: 100%;
  margin: 0.5rem;
  padding: 0.5rem 0.25;
}

#correct,
#wrong {
  display: none;
}
